@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
}
  
  /* Cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Seções */
  section {
    padding: 50px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
  }
  
  .projeto {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .projeto h3 {
    margin-top: 0;
  }
  
  .projeto p {
    margin-bottom: 0;
  }
  
  .projeto a {
    display: block;
    margin-top: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .projeto a:hover {
    background-color: #666;
  }
  
  /* Media Queries para telas menores */
  @media screen and (max-width: 768px) {
  
    /* Ajustes para o cabeçalho */
    header {
      flex-direction: column;
      text-align: center;
    }
  
    nav {
      margin-top: 20px;
    }
  
    /* Ajustes para os projetos */
    .projetos {
      gap: 30px;
    }
}